flows_pi-garage.json
[{"id":"a4c24b4f.81a298","type":"tab","label":"Garage Doors","disabled":false,"info":"Contains the following features:\n\n- Dashboard Buttons for Left and Right Doors\n- Supports close sensor and sets button colors:\n\nRED: OPEN\nBLUE: TRANSITIONING\nGREEN: CLOSED\n\nSends email if transition fails based on expected sensor values.\n\nAt 10pm, closes the doors if left open\n\n"},{"id":"f95d1853.b0aa48","type":"subflow","name":"Subflow 1","info":"","in":[{"x":220,"y":100,"wires":[{"id":"3bbe653a.692baa"}]}],"out":[{"x":520,"y":100,"wires":[{"id":"3bbe653a.692baa","port":0}]}]},{"id":"4f5c4e1.68224b","type":"ui_tab","z":"","name":"Garage Doors","icon":"dashboard"},{"id":"b8ed7917.26c3e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000080","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce609f1a.a4de","type":"twitter-credentials","z":"","screen_name":"marklindell"},{"id":"154a7635.45bf5a","type":"mqtt-broker","z":"","broker":"192.168.24.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69bf3428.1e27dc","type":"mqtt-broker","z":"","broker":"192.168.24.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1497786.9574c88","type":"ui_group","z":"","name":"GARAGE L","tab":"4f5c4e1.68224b","order":1,"disp":false,"width":"6","collapse":false},{"id":"d6a9ef60.0e2ab","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f07af85.7b797","type":"ui_group","z":"","name":"GARAGE R","tab":"4f5c4e1.68224b","order":2,"disp":false,"width":"6","collapse":false},{"id":"3bbe653a.692baa","type":"function","z":"f95d1853.b0aa48","name":"To DateTime","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[[]]},{"id":"390e0eac.c0f2d2","type":"http in","z":"a4c24b4f.81a298","name":"","url":"/door","method":"post","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["cff9ad4d.265b6"]]},{"id":"ce72fd49.1672e","type":"http response","z":"a4c24b4f.81a298","name":"200 OK","statusCode":"200","headers":{},"x":440,"y":160,"wires":[]},{"id":"cff9ad4d.265b6","type":"switch","z":"a4c24b4f.81a298","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"str","v2":"2","v2t":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":100,"wires":[["ce72fd49.1672e","30677614.77638a"],["23c4b1f.2d87a4e"]]},{"id":"23c4b1f.2d87a4e","type":"http response","z":"a4c24b4f.81a298","name":"","statusCode":"400","headers":{},"x":440,"y":240,"wires":[]},{"id":"71f15b25.ce6944","type":"ui_button","z":"a4c24b4f.81a298","name":"","group":"4f07af85.7b797","order":1,"width":"0","height":"0","passthru":false,"label":"RIGHT","color":"","bgcolor":"{{msg.payload.background}}","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":360,"wires":[["f850e9ad.e819d8"]]},{"id":"f850e9ad.e819d8","type":"http request","z":"a4c24b4f.81a298","name":"","method":"POST","ret":"txt","url":"localhost:1880/door","tls":"","x":1150,"y":400,"wires":[[]]},{"id":"ee715778.612bd8","type":"ui_button","z":"a4c24b4f.81a298","name":"","group":"1497786.9574c88","order":1,"width":0,"height":0,"passthru":false,"label":"LEFT","color":"","bgcolor":"{{msg.payload.background}}","icon":"","payload":"2","payloadType":"num","topic":"","x":990,"y":440,"wires":[["f850e9ad.e819d8"]]},{"id":"dd7f71c1.7a0c5","type":"rpi-gpio out","z":"a4c24b4f.81a298","name":"RIGHT","pin":"37","set":true,"level":"1","freq":"","out":"out","x":1470,"y":40,"wires":[]},{"id":"d9cb0ee3.db9aa","type":"rpi-gpio out","z":"a4c24b4f.81a298","name":"LEFT","pin":"33","set":true,"level":"1","freq":"","out":"out","x":1470,"y":120,"wires":[]},{"id":"a664d231.fca23","type":"delay","z":"a4c24b4f.81a298","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":140,"wires":[["220f79bb.ffa196"]]},{"id":"220f79bb.ffa196","type":"change","z":"a4c24b4f.81a298","name":"","rules":[{"t":"set","p":"payload.state","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":140,"wires":[["a421da01.1e3b08","57deddbd.ec1754"]]},{"id":"30677614.77638a","type":"function","z":"a4c24b4f.81a298","name":"create message","func":"var newMsg = { \n    payload: {\n        switch: msg.payload,\n        state: 0\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["a421da01.1e3b08","a664d231.fca23","7f08bd67.029444"]]},{"id":"a421da01.1e3b08","type":"switch","z":"a4c24b4f.81a298","name":"","property":"payload.switch","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":60,"wires":[["cbcf3b74.194ad8"],["5ad912df.8718dc"]]},{"id":"5ad912df.8718dc","type":"change","z":"a4c24b4f.81a298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":120,"wires":[["d9cb0ee3.db9aa"]]},{"id":"54f5d162.a5eff","type":"rpi-gpio in","z":"a4c24b4f.81a298","name":"RIGHT SENSOR","pin":"11","intype":"up","debounce":"25","read":true,"x":140,"y":340,"wires":[["be489e5.13fbc6"]]},{"id":"3972aef4.a98562","type":"rpi-gpio in","z":"a4c24b4f.81a298","name":"LEFT SENSOR","pin":"13","intype":"up","debounce":"25","read":true,"x":140,"y":460,"wires":[["be489e5.13fbc6"]]},{"id":"be489e5.13fbc6","type":"function","z":"a4c24b4f.81a298","name":"create message","func":"var sensorNum = (msg.topic == \"pi/11\") ? 1 : 2;\nvar doorstate = (msg.payload === 0) ? \"closed\" : \"open\";\n\nvar currentdoorstate = flow.get('doorstate'+sensorNum);\n\n// Don't change on sensor if transitioning as the \n// sensor will change upon opening\nvar newDoorState = (currentdoorstate === \"transitioning\") ? currentdoorstate : doorstate;\n\nvar newMsg = { \n    payload: {\n        sensor: sensorNum,\n        switch: sensorNum,\n        state: msg.payload,\n        doorstate: newDoorState,\n    }\n};\n\nflow.set('sensor'+sensorNum, msg.payload);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["278bde26.e1ba72"]]},{"id":"be9e08bf.ad1768","type":"switch","z":"a4c24b4f.81a298","name":"switch","property":"payload.switch","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":400,"wires":[["71f15b25.ce6944"],["ee715778.612bd8"]]},{"id":"e178f08.18a581","type":"inject","z":"a4c24b4f.81a298","name":"Evening Door Check 10pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":"30","x":180,"y":580,"wires":[["5ff8c702.36b128","9902fb91.91fca8"]]},{"id":"1aa59c03.73c374","type":"http request","z":"a4c24b4f.81a298","name":"post /door","method":"POST","ret":"txt","url":"localhost:1880/door","tls":"","x":860,"y":580,"wires":[[]]},{"id":"5ff8c702.36b128","type":"switch","z":"a4c24b4f.81a298","name":"flow.sensor1","property":"sensor1","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":560,"wires":[["444ef36e.b5c0bc"]]},{"id":"9902fb91.91fca8","type":"switch","z":"a4c24b4f.81a298","name":"flow.sensor2","property":"sensor2","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":620,"wires":[["d2841c03.368f8"]]},{"id":"d2841c03.368f8","type":"change","z":"a4c24b4f.81a298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":620,"wires":[["1aa59c03.73c374"]]},{"id":"444ef36e.b5c0bc","type":"change","z":"a4c24b4f.81a298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":560,"wires":[["1aa59c03.73c374"]]},{"id":"cbcf3b74.194ad8","type":"change","z":"a4c24b4f.81a298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":40,"wires":[["dd7f71c1.7a0c5"]]},{"id":"46873afb.75b174","type":"e-mail","z":"a4c24b4f.81a298","server":"smtp.gmail.com","port":"465","secure":true,"name":"lindell.mark@gmail.com","dname":"","x":1450,"y":440,"wires":[]},{"id":"7f08bd67.029444","type":"function","z":"a4c24b4f.81a298","name":"set doorstate","func":"flow.set('doorstate'+msg.payload.switch, 'transitioning');\n\nvar currentstate = flow.get('sensor'+msg.payload.switch);\nvar targetstate = (currentstate === 0) ? 1 : 0;\n\nflow.set('targetstate'+msg.payload.switch, targetstate);\n\nmsg.payload.doorstate ='transitioning';\nmsg.payload.direction = (currentstate === 0) ? \"opening\" : \"closing\";\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["278bde26.e1ba72"]]},{"id":"57deddbd.ec1754","type":"delay","z":"a4c24b4f.81a298","name":"wait for travel time","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":220,"wires":[["77ffe8e.47a4a18"]]},{"id":"77ffe8e.47a4a18","type":"function","z":"a4c24b4f.81a298","name":"set doorstate","func":"var sensor = flow.get('sensor' + msg.payload.switch);\nvar sensorstate = (sensor === 0) ? 'closed' : 'open';\n\nflow.set('doorstate' + msg.payload.switch, sensorstate);\n\nmsg.payload.doorstate = sensorstate;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["7ff065d.977509c","278bde26.e1ba72"]]},{"id":"7ff065d.977509c","type":"function","z":"a4c24b4f.81a298","name":"check target state","func":"var targetstate = flow.get('targetstate' + msg.payload.switch);\nvar sensorstate = flow.get('sensor' + msg.payload.switch);\n\nif (sensorstate !== targetstate) {\n    var doorName = (msg.payload.switch) ? \"RIGHT\" : \"LEFT\";\n    var targetName = (targetstate === 0) ? \"CLOSE\" : \"OPEN\";\n    msg.payload = doorName + \" DID NOT FULLY \"  + targetName;\n    return msg;\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":1170,"y":300,"wires":[["46873afb.75b174"]]},{"id":"278bde26.e1ba72","type":"function","z":"a4c24b4f.81a298","name":"set background","func":"\nswitch (msg.payload.doorstate) {\n    case \"closed\":\n        msg.payload.background = \"green\";\n        break;\n    case \"open\":\n        msg.payload.background = \"red\";\n        break;\n    case \"transitioning\":\n        msg.payload.background = \"blue\";\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":400,"wires":[["be9e08bf.ad1768","8ddc3bc7.eaa7a8"]]},{"id":"8ddc3bc7.eaa7a8","type":"debug","z":"a4c24b4f.81a298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":500,"wires":[]},{"id":"9ec5aacb.b33288","type":"catch","z":"a4c24b4f.81a298","name":"","scope":null,"x":1160,"y":520,"wires":[["46873afb.75b174"]]}]